@model EShop.Domain.ViewModels.Account.LoginUserViewModel
@{
    ViewData["Title"] = "ورود";
}

@section FooterScripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="index">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-md-6 offset-md-3">
                <div class="account_form register">
                    <h2>ورود</h2>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <p>
                            <label>آدرس ایمیل<span>*</span></label>
                            <input asp-for="Email">
                        </p>
                        <p>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </p>
                        <p>
                            <label>رمز عبور<span>*</span></label>
                            <input asp-for="Password">
                        </p>
                        <p>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </p>
                        </p>
                        <p>
                            <label>مرا به خاطر بسپار<span>*</span></label>
                            <input type="checkbox" asp-for="RememberMe">
                        </p>
                        <p>
                        <div class="login_submit">
                            <button type="submit">ورود</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>

