@model EShop.Domain.ViewModels.Product.ProductDetailViewModel
@{
    ViewData["Title"] = "جزئیات محصول";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>@Model.Title</p>
        </div>
    </div>
</div>
